.row {
    animation: enter 2s; 
}

@keyframes enter {
    0% {
        background-color: red;
    }

    100% {
        background-color: transparent;
    }
}

html {
    width: 100%;
}
body {
    width: 100%;
}