.front {
    // transform: rotate3d(1,0,0,45deg) translateX(100px);

}

.wrapper {
    // transform-style:preserve-3d;
    /**
     * 意思大概是,雖然children用了transform 3d ,但是變換完了以後會投影到2d熒幕上,損失所有3d效果
     * 此時rotate3d parent會轉這個平面
     * 如果preserve-3d, 字面意思,children的變換會被保留,此時rotate3d會完整生效
     */
    transform: rotate3d(1, 1, 1, 30deg);
    transform-style: preserve-3d;
    /**
     * camera距離element有多遠
     * 默認是∞ === none
     */
    perspective: 15px;
    perspective-origin: 20px 70px;
}

.front {
    background: rgba(90, 90, 90, 0.7);
    transform: translateZ(48px);
}

.back {
    background: rgba(0, 210, 0, 0.7);
    transform: rotateY(180deg) translateZ(48px);
}

.right {
    background: rgba(210, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(48px);
}

.left {
    background: rgba(0, 0, 210, 0.7);
    transform: rotateY(-90deg) translateZ(48px);
}

.top {
    background: rgba(210, 210, 0, 0.7);
    transform: rotateX(90deg) translateZ(48px);
}

.bottom {
    background: rgba(210, 0, 210, 0.7);
    transform: rotateX(-90deg) translateZ(48px);
}